* {
  box-sizing: border-box;
}

:root {
  --ui-font: 'Comfortaa', sans-serif;
  --content-font: 'Open Sans', serif;
  --title-font: 'Oswald', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  font-size: 20px;
  touch-action: manipulation;
}

.top-bar {
  margin: 0;
  text-align: right;
  padding: 4px;
  background: #808;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--ui-font);
  display: flex;
  /*flex-direction: row-reverse;*/
  justify-content: space-between;
  align-items: center;
}

.top-bar h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.top-bar button {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 4px;
  font-size: inherit;
}

feed-collection {
  flex: 1;
  overflow-y: scroll;
}

audio-player {
  box-shadow: 0 -8px 8px rgba(0, 0, 0, .1);
}