* {
  box-sizing: border-box;
}

:root {
  --ui-font: 'Comfortaa', sans-serif;
  --content-font: 'Open Sans', serif;
  --title-font: 'Oswald', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
  font-size: 20px;
  touch-action: manipulation;
}

.sr-only {
  position: absolute;
  left: -1000px;
  opacity: 0;
}

feed-collection {
  flex: 1;
  overflow-y: scroll;
}

audio-player {
  box-shadow: 0 -8px 8px rgba(0, 0, 0, .1);
}